<h1>{{title}}</h1> <!-- muestra ahora nuestro titulo Tour de heroe Paso 1-->
<nav>
    <a routerLink="/dashboard">Dashboard</a> <!-- PASO 5 PARTE 3 agregarmo un enlaces para el panel 4 o 5 heroe puesto en la parte del codigo-->
    <!-- no permite ver 2 vista  libremente entre haciendo clic paso 5 parte 3-->
    <a routerLink="/heroes">Heroes</a> <!--paso 5 parte 2 se añade el router-->
     
    
</nav>
 
<router-outlet></router-outlet> <!-- paso 5 añadimos  el Router de los elemento  heroe esto remplaza app-heroes-->
<!--<app-heroes></app-heroes> --><!-- parte 1  esto es mostrar el heroes-->
<app-messages></app-messages> <!-- se añade la visibilidad del boton para poder verlo -->
